!!!
html
  head
    title Testing node.js + socket.io + midi + Ableton Live
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="/socket.io/socket.io.js")
  body!= body